.input-wrapper {
    position: relative;
    // background-color: #f0f0f0;
    margin: 20px 0;
    padding: 20px 10px;

    .label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

    }

    .input {
        width: 544px;
        height: 56px;
        padding: 0 20px;
        border-radius: 2px;
        border: 2px solid #fff;
        outline: none;
        font-size: 16px;
        font-weight: 400;

        &:focus {
            border-color: #dadada;

        }

        &:disabled {
            cursor: not-allowed;
            color: #8d8e97;
            background: #e8e8e8;
        }

        &.error {
            border-color: #fd3419;
        }
    }

    .errorMesage {
        position: absolute;
        bottom: -32px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #fd3419;
    }
}